<h2>Update Contact</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-4">
      <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
        <div class="form-group">
          <label for="name">Contact Name</label>
          <input
            ngModel
            required
            minlength="3"
            [(ngModel)]="contact.name"
            #name="ngModel"
            name="name"
            type="text"
            id="name"
            class="form-control"
          >
          <div
            class="alert alert-danger"
            *ngIf="name.touched && !name.valid"
          >
            <div *ngIf="name.errors.required">Name is required.</div>
            <div *ngIf="name.errors.minlength">
              Minlength is {{ name.errors.minlength.requiredLength }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="number">Phone Number </label>
          <input
            ngModel
            required
            minlength="10"
            maxlength="15"
            #number="ngModel"
            [(ngModel)]="contact.phoneNumber"
            name="phoneNumber"
            type="text"
            id="number"
            class="form-control"
          >
          <div
            class="alert alert-danger"
            *ngIf="number.touched && !number.valid"
          >
            <div *ngIf="number.errors.required">Phone number is required.</div>
            <div *ngIf="number.errors.minlength">
              Minlength is {{ number.errors.minlength.requiredLength }}
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-info" [disabled]="!form.valid">Add</button>
      </form>
    </div>
  </div>
</div>
